<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_hp_bg_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,12}}</string>
                <key>sourceSize</key>
                <string>{100,12}</string>
            </dict>
            <key>fight_hp_progress_end1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>fight_hp_progress_end2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{10,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,25}}</string>
                <key>sourceSize</key>
                <string>{10,25}</string>
            </dict>
            <key>fight_hp_progress_end3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,29},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>fight_hp_progress_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{98,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,10}}</string>
                <key>sourceSize</key>
                <string>{98,10}</string>
            </dict>
            <key>fight_hp_progress_new_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{98,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,10}}</string>
                <key>sourceSize</key>
                <string>{98,10}</string>
            </dict>
            <key>fight_hp_progress_new_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{98,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,10}}</string>
                <key>sourceSize</key>
                <string>{98,10}</string>
            </dict>
            <key>fight_sp_progress_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{106,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,9}}</string>
                <key>sourceSize</key>
                <string>{106,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_bars.png</string>
            <key>size</key>
            <string>{128,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5faf78ffc10b49c6d6f91609ea178334$</string>
            <key>textureFileName</key>
            <string>fight_bars.png</string>
        </dict>
    </dict>
</plist>
