<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{325,278},{54,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{263,289},{43,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{655,127},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{498,1},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{676,251},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{656,64},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{543,127},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{818,125},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{372,202},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{431,193},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{34,61}</string>
                <key>textureRect</key>
                <string>{{209,297},{28,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{310,215},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{117,79},{74,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_W2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{180,77},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{60,163},{76,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_Y2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{243,75},{70,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{884,183},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{844,275},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{887,1},{39,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{928,53},{53,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{875,62},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{928,225},{50,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{929,108},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{923,277},{50,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{929,1},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,57}</string>
                <key>textureRect</key>
                <string>{{874,124},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{929,166},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{34,61}</string>
                <key>textureRect</key>
                <string>{{788,311},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{828,186},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{308,145},{68,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{78,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{60,83},{78,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_W2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{363,71},{66,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{306,73},{70,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_Y2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{377,1},{64,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{884,229},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{545,190},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{773,125},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{668,1},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{486,127},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{716,188},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{617,253},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{599,127},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{819,63},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{388,265},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{447,256},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{34,61}</string>
                <key>textureRect</key>
                <string>{{236,297},{28,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{367,139},{58,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{125,1},{74,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{1,83},{80,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_W2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{188,1},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{62,1},{76,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_Y2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{251,1},{70,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{171,305},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{600,64},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{774,63},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{657,189},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{488,190},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{732,250},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{714,126},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{612,1},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{831,1},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{427,130},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{504,253},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,61}</string>
                <key>textureRect</key>
                <string>{{121,305},{26,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{424,67},{58,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{121,231},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{1,165},{80,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_W2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{184,225},{70,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{60,241},{74,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_Y2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{314,1},{68,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{844,245},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{561,253},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{786,1},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{715,63},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{543,64},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{772,188},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{727,1},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{601,190},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{788,250},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{484,64},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{555,1},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,61}</string>
                <key>textureRect</key>
                <string>{{146,305},{26,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shallow_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{438,1},{58,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shallow_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{182,151},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shallow_W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{1,247},{80,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shallow_W2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{245,147},{70,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shallow_Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{121,155},{74,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shallow_Y2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{247,219},{68,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shallow_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{896,275},{36,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>damNumber.png</string>
            <key>size</key>
            <string>{985,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98cb98d8f8910a408d03c017d51960c5:7b3eb3b4ef309d721b8a5c42538dc4c9:ee09901aed60732cca3a551783d297cc$</string>
            <key>textureFileName</key>
            <string>damNumber.png</string>
        </dict>
    </dict>
</plist>
